<div class="titulo">
    {{ 'informacion.adultos.titulo'|trans }}
</div>
<div class="descripccion">
    <p>{{ 'informacion.adultos.p1'|trans }}</p>
    <p>{{ 'informacion.adultos.p2'|trans }}</p>
    <p>{{ 'informacion.adultos.p3'|trans }}</p>
    <p>{{ 'informacion.adultos.p4'|trans }}</p>
    <p>{{ 'informacion.adultos.p5'|trans }}</p>
    <p>{{ 'informacion.adultos.p6'|trans }}</p>
</div>

<div class="descarga">
    <a href="{{ path('file', {'file': 'meditacion'}) }}" target="_blank"
       onclick="ga('send','event','boton','Descarga','Meditaciones');" class="btn">

        {{ 'informacion.adultos.boton.meditaciones'|trans }}
    </a>
    <a href="{{ path('file', {'file': 'llave'}) }}" target="_blank"
       onclick="ga('send','event','boton','Descarga', 'Llave');" class="btn">
        {{ 'informacion.adultos.boton.llave'|trans }}
    </a>
</div>