<div class="titulo">
    <h3>{{ 'informacion.ninos.titulo'|trans }} <br>
        {{ 'informacion.ninos.titulo2'|trans }}
    </h3>
</div>

<div class="descripccion">
    <p>{{ 'informacion.ninos.intro'|trans }}</p>
    <ul class="lista">
        <li>{{ 'informacion.ninos.list.1'|trans }}</li>
        <li>{{ 'informacion.ninos.list.2'|trans }}</li>
        <li>{{ 'informacion.ninos.list.3'|trans }}</li>
        <li>{{ 'informacion.ninos.list.4'|trans }}</li>
        <li>{{ 'informacion.ninos.list.5'|trans }}</li>
    </ul>
</div>

<div class="descarga">
    <a class="btn"
       href="{{ path('file', {'file': 'cuaderno'}) }}"
       target="_blank" onClick="ga('send','event','boton','Descarga','Cuaderno');">
        {{ 'informacion.ninos.boton.descarga'|trans }}
    </a>

    {% if app.request.locale == 'es' %}

    <a class="btn"
       href="{{ path('file', {'file': 'cuaderno_a5'}) }}"
       target="_blank" onClick="ga('send','event','boton','Descarga','Cuaderno');">
        {{ 'informacion.ninos.boton.descarga.a5'|trans }}
    </a>
    {% endif %}
</div>
